In [49]:
import pandas as pd

In [50]:
df = pd.read_json("llm_traces_large.json")
print(df.columns)
df.head(100)

Index(['project', 'version', 'traces'], dtype='object')

,project,version,traces
0,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0001', 'user_query': 'Who ..."
1,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0002', 'user_query': 'Summ..."
2,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0003', 'user_query': 'Tran..."
3,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0004', 'user_query': 'Summ..."
4,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0005', 'user_query': 'Who ..."
5,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0006', 'user_query': 'Expl..."
6,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0007', 'user_query': 'Who ..."
7,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0008', 'user_query': 'Summ..."
8,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0009', 'user_query': 'What..."
9,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0010', 'user_query': 'Expl..."
10,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0011', 'user_query': 'Tran..."
11,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0012', 'user_query': 'What..."
12,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0013', 'user_query': 'What..."
13,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0014', 'user_query': 'Summ..."
14,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0015', 'user_query': 'Summ..."
15,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0016', 'user_query': 'What..."
16,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0017', 'user_query': 'Who ..."
17,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0018', 'user_query': 'What..."
18,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0019', 'user_query': 'Who ..."
19,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0020', 'user_query': 'Summ..."
20,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0021', 'user_query': 'Who ..."
21,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0022', 'user_query': 'Expl..."
22,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0023', 'user_query': 'Who ..."
23,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0024', 'user_query': 'Who ..."
24,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0025', 'user_query': 'Expl..."
25,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0026', 'user_query': 'Summ..."
26,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0027', 'user_query': 'Summ..."
27,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0028', 'user_query': 'Summ..."
28,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0029', 'user_query': 'Who ..."
29,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0030', 'user_query': 'What..."
30,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0031', 'user_query': 'Tran..."
31,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0032', 'user_query': 'Summ..."
32,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0033', 'user_query': 'Who ..."
33,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0034', 'user_query': 'Summ..."
34,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0035', 'user_query': 'Who ..."
35,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0036', 'user_query': 'Expl..."
36,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0037', 'user_query': 'Tran..."
37,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0038', 'user_query': 'Who ..."
38,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0039', 'user_query': 'What..."
39,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0040', 'user_query': 'What..."
40,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0041', 'user_query': 'Summ..."
41,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0042', 'user_query': 'Expl..."
42,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0043', 'user_query': 'Expl..."
43,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0044', 'user_query': 'Expl..."
44,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0045', 'user_query': 'Expl..."
45,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0046', 'user_query': 'Who ..."
46,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0047', 'user_query': 'Tran..."
47,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0048', 'user_query': 'Expl..."
48,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0049', 'user_query': 'Tran..."
49,LLM Evaluation Exercise,1,"{'trace_id': 'trace_0050', 'user_query': 'Expl..."

In [51]:
df["traces"][1]

{'trace_id': 'trace_0002',
 'user_query': 'Summarize the plot of Inception in one sentence.',
 'steps': [{'name': 'retrieval',
   'latency_ms': 270,
   'model': 'custom-small',
   'temperature': 0.02,
   'token_usage': {'prompt_tokens': 11, 'completion_tokens': 83},
   'output_docs': [{'doc_id': 'doc_2_0_0',
     'title': 'Doc 0',
     'content': 'Random content snippet 524'},
    {'doc_id': 'doc_2_0_1',
     'title': 'Doc 1',
     'content': 'Random content snippet 237'}]},
  {'name': 'prompt_construction',
   'latency_ms': 189,
   'model': 'gpt-3.5',
   'temperature': 0.91,
   'token_usage': {'prompt_tokens': 28, 'completion_tokens': 60}},
  {'name': 'prompt_construction',
   'latency_ms': 220,
   'model': 'gpt-3.5',
   'temperature': 0.8,
   'token_usage': {'prompt_tokens': 39, 'completion_tokens': 56}},
  {'name': 'retrieval',
   'latency_ms': 126,
   'model': 'gpt-3.5',
   'temperature': 0.9,
   'token_usage': {'prompt_tokens': 31, 'completion_tokens': 81},
   'output_docs': [{'doc_id': 'doc_2_3_0',
     'title': 'Doc 0',
     'content': 'Random content snippet 939'},
    {'doc_id': 'doc_2_3_1',
     'title': 'Doc 1',
     'content': 'Random content snippet 270'},
    {'doc_id': 'doc_2_3_2',
     'title': 'Doc 2',
     'content': 'Random content snippet 676'}]}],
 'final_output': 'A thief enters dreams to steal secrets, but plants an idea instead.',
 'metadata': {'user_id': 'u411',
  'region': 'EU',
  'timestamp': '2025-09-24T21:05:00Z'},
 'metrics': {'faithfulness': 0.85, 'relevance': 0.99, 'cost_usd': 0.065}}

In [52]:
import json

with open("llm_traces.json", "r") as f:
    data = json.load(f)

# Flatten nested JSON
df = pd.json_normalize(data)

print(df.columns)
print(df.size)
df.head(5)

Index(['project', 'version', 'traces'], dtype='object')
3

,project,version,traces
0,LLM Evaluation Exercise,1.0,"[{'trace_id': 'trace_001', 'user_query': 'Who ..."

In [53]:
import json
import pandas as pd

with open("llm_traces.json", "r") as f:
    data = json.load(f)

# Flatten the `traces` list while keeping project + version
df = pd.json_normalize(
    data,
    record_path="traces",
    meta=["project", "version"]
)

print(df.columns)
df.head()

Index(['trace_id', 'user_query', 'steps', 'final_output', 'metadata.user_id',
       'metadata.region', 'metadata.timestamp', 'metrics.faithfulness',
       'metrics.relevance', 'metrics.cost_usd', 'final_output.fr',
       'final_output.es', 'final_output.it', 'project', 'version'],
      dtype='object')

,trace_id,user_query,steps,final_output,metadata.user_id,metadata.region,metadata.timestamp,metrics.faithfulness,metrics.relevance,metrics.cost_usd,final_output.fr,final_output.es,final_output.it,project,version
0,trace_001,Who won the 2018 World Cup?,"[{'name': 'retrieval', 'latency_ms': 150, 'out...",France (2018 FIFA World Cup winner),u123,EU,2025-09-24T20:15:00Z,1.00,0.97,0.0025,NaN,NaN,NaN,LLM Evaluation Exercise,1.0
1,trace_002,Explain quantum entanglement simply.,"[{'name': 'prompt_construction', 'latency_ms':...",Quantum entanglement means two particles behav...,u456,US,2025-09-24T20:16:00Z,0.92,0.95,0.0038,NaN,NaN,NaN,LLM Evaluation Exercise,1.0
2,trace_003,"Translate 'Hello World' into French, Spanish, ...","[{'name': 'llm_generation', 'model': 'gpt-4', ...",NaN,u789,APAC,2025-09-24T20:18:00Z,1.00,1.00,0.0012,Bonjour le monde,Hola mundo,Ciao mondo,LLM Evaluation Exercise,1.0

In [54]:
import pandas as pd

# 1) Keep your original trace-level df
df_steps = df.copy()

# 2) Coerce 'steps' to list (handles None or single dict)
df_steps["steps"] = df_steps["steps"].apply(
    lambda x: [] if x is None
    else ([x] if isinstance(x, dict) else x)
)

# 3) One row per step
steps_long = (
    df_steps
      .explode("steps")
      .dropna(subset=["steps"])
      .reset_index(drop=True)      # <-- important for concat alignment
)

# (optional) If some entries aren't dicts, keep only dicts
steps_long = steps_long[steps_long["steps"].apply(lambda x: isinstance(x, dict))].reset_index(drop=True)

# 4) Normalize the dict column and concat
step_cols = pd.json_normalize(steps_long["steps"], sep=".")
steps_long = pd.concat(
    [steps_long.drop(columns="steps").reset_index(drop=True), step_cols],
    axis=1
)

steps_long.head()

,trace_id,user_query,final_output,metadata.user_id,metadata.region,metadata.timestamp,metrics.faithfulness,metrics.relevance,metrics.cost_usd,final_output.fr,...,output_docs,model,temperature,output,token_usage.prompt_tokens,token_usage.completion_tokens,input,output.fr,output.es,output.it
0,trace_001,Who won the 2018 World Cup?,France (2018 FIFA World Cup winner),u123,EU,2025-09-24T20:15:00Z,1.00,0.97,0.0025,NaN,...,"[{'id': 'doc1', 'title': '2018 FIFA Final', 'c...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,trace_001,Who won the 2018 World Cup?,France (2018 FIFA World Cup winner),u123,EU,2025-09-24T20:15:00Z,1.00,0.97,0.0025,NaN,...,NaN,gpt-4,0.2,"France won the 2018 FIFA World Cup, beating Cr...",60.0,25.0,NaN,NaN,NaN,NaN
2,trace_002,Explain quantum entanglement simply.,Quantum entanglement means two particles behav...,u456,US,2025-09-24T20:16:00Z,0.92,0.95,0.0038,NaN,...,NaN,NaN,NaN,Explain in simple words: quantum entanglement...,NaN,NaN,Explain quantum entanglement simply.,NaN,NaN,NaN
3,trace_002,Explain quantum entanglement simply.,Quantum entanglement means two particles behav...,u456,US,2025-09-24T20:16:00Z,0.92,0.95,0.0038,NaN,...,NaN,gpt-4,0.7,Quantum entanglement is like having two dice t...,45.0,60.0,NaN,NaN,NaN,NaN
4,trace_003,"Translate 'Hello World' into French, Spanish, ...",NaN,u789,APAC,2025-09-24T20:18:00Z,1.00,1.00,0.0012,Bonjour le monde,...,NaN,gpt-4,0.0,NaN,30.0,15.0,NaN,Bonjour le monde,Hola mundo,Ciao mondo

In [55]:
steps_long.columns

Index(['trace_id', 'user_query', 'final_output', 'metadata.user_id',
       'metadata.region', 'metadata.timestamp', 'metrics.faithfulness',
       'metrics.relevance', 'metrics.cost_usd', 'final_output.fr',
       'final_output.es', 'final_output.it', 'project', 'version', 'name',
       'latency_ms', 'output_docs', 'model', 'temperature', 'output',
       'token_usage.prompt_tokens', 'token_usage.completion_tokens', 'input',
       'output.fr', 'output.es', 'output.it'],
      dtype='object')

## 0) Setup + helpers

In [56]:
import json
import pandas as pd
from pprint import pprint

# ---- Pretty inspection of DataFrames ----
def peek(df, title, n=5, show_cols=True, show_index=False, show_dtypes=False):
    print(f"\n===== {title} =====")
    print("shape:", df.shape)
    if show_index:
        print("index is_unique:", df.index.is_unique)
    if show_cols:
        print("columns:", list(df.columns))
    if show_dtypes:
        print("\ndtypes:\n", df.dtypes)
    print("\nhead:\n", df.head(n))

# ---- Quick type profiler for any Python object ----
def type_of(x):
    return type(x).__name__

def series_type_counts(s):
    return s.apply(type_of).value_counts(dropna=False)

# ---- Safe slice printer for long strings or big dicts ----
def preview(obj, max_chars=800):
    text = json.dumps(obj, indent=2, ensure_ascii=False) if not isinstance(obj, str) else obj
    text = text if len(text) <= max_chars else text[:max_chars] + "\n... [truncated]"
    print(text)

# ---- Recursive explorer: shows structure without assuming keys ----
def explore(obj, max_items=5, depth=0, path="root"):
    indent = "  " * depth
    if isinstance(obj, dict):
        print(f"{indent}{path}: dict with {len(obj)} keys")
        for i, (k, v) in enumerate(obj.items()):
            if i >= max_items: 
                print(f"{indent}  ... {len(obj)-max_items} more keys")
                break
            explore(v, max_items=max_items, depth=depth+1, path=f"{path}.{k}")
    elif isinstance(obj, list):
        print(f"{indent}{path}: list with {len(obj)} items")
        if obj:
            # show first item structure
            explore(obj[0], max_items=max_items, depth=depth+1, path=f"{path}[0]")
        else:
            print(f"{indent}  (empty list)")
    else:
        print(f"{indent}{path}: {type_of(obj)} -> sample:", str(obj)[:80])

# ---- Find all list-of-dicts candidates (possible tables) ----
def find_list_of_dicts(obj, path="root", results=None):
    if results is None:
        results = []
    if isinstance(obj, dict):
        for k, v in obj.items():
            find_list_of_dicts(v, f"{path}.{k}", results)
    elif isinstance(obj, list):
        if obj and isinstance(obj[0], dict):
            results.append(path)
        # also dive into first item to discover nested lists
        if obj:
            find_list_of_dicts(obj[0], f"{path}[0]", results)
    return results

# ---- Flatten a dict column in a DataFrame ----
def flatten_dict_column(df, col, sep="."):
    """Expand dicts in column `col` into new columns; keeps non-dicts as-is."""
    mask = df[col].apply(lambda x: isinstance(x, dict))
    if not mask.any():
        print(f"Column '{col}' has no dict rows to flatten.")
        return df
    expanded = pd.json_normalize(df.loc[mask, col], sep=sep)
    expanded.index = df.index[mask]
    out = df.drop(columns=[col]).join(expanded.add_prefix(f"{col}{sep}"))
    return out

# ---- Explode a list-of-dicts column into long rows ----
def explode_list_of_dicts(df, col, sep="."):
    """Explode list-of-dicts in `col` into long format and normalize."""
    if col not in df.columns:
        raise KeyError(f"Column '{col}' not found.")
    # coerce
    coerced = df.copy()
    coerced[col] = coerced[col].apply(
        lambda x: [] if x is None else ([x] if isinstance(x, dict) else x)
    )
    # explode
    long = coerced.explode(col).dropna(subset=[col]).reset_index(drop=True)
    # normalize step dicts
    mask_dict = long[col].apply(lambda x: isinstance(x, dict))
    if mask_dict.any():
        norm = pd.json_normalize(long.loc[mask_dict, col], sep=sep)
        norm.index = long.index[mask_dict]
        long = long.drop(columns=[col]).join(norm)
    else:
        # list of scalars; just keep it
        long = long.rename(columns={col: f"{col}_value"})
    return long

## 1) Read the JSON and understand its shape

In [57]:
path = "llm_traces.json"  # adjust if needed

# 1a) Load raw text (helps when debugging broken JSON)
with open(path, "r", encoding="utf-8") as f:
    raw_text = f.read()

print("Raw preview of the file:")
preview(raw_text, max_chars=6000)

# 1b) Parse JSON into Python (dict/list/scalars)
data = json.loads(raw_text)
print("\nTop-level Python type:", type_of(data))

Raw preview of the file:
{
    "project": "LLM Evaluation Exercise",
    "version": "1.0",
    "traces": [
        {
            "trace_id": "trace_001",
            "user_query": "Who won the 2018 World Cup?",
            "metadata": {
                "user_id": "u123",
                "region": "EU",
                "timestamp": "2025-09-24T20:15:00Z"
            },
            "steps": [
                {
                    "name": "retrieval",
                    "latency_ms": 150,
                    "output_docs": [
                        {
                            "id": "doc1",
                            "title": "2018 FIFA Final",
                            "content": "France defeated Croatia 4-2."
                        },
                        {
                            "id": "doc2",
                            "title": "World Cup Summary",
                            "content": "France crowned world champion 2018."
                        }
                    ]
                },
                {
                    "name": "llm_generation",
                    "model": "gpt-4",
                    "temperature": 0.2,
                    "latency_ms": 310,
                    "token_usage": {
                        "prompt_tokens": 60,
                        "completion_tokens": 25
                    },
                    "output": "France won the 2018 FIFA World Cup, beating Croatia 4-2."
                }
            ],
            "final_output": "France (2018 FIFA World Cup winner)",
            "metrics": {
                "faithfulness": 1.0,
                "relevance": 0.97,
                "cost_usd": 0.0025
            }
        },
        {
            "trace_id": "trace_002",
            "user_query": "Explain quantum entanglement simply.",
            "metadata": {
                "user_id": "u456",
                "region": "US",
                "timestamp": "2025-09-24T20:16:00Z"
            },
            "steps": [
                {
                    "name": "prompt_construction",
                    "latency_ms": 50,
                    "input": "Explain quantum entanglement simply.",
                    "output": "Explain in simple words: quantum entanglement..."
                },
                {
                    "name": "llm_generation",
                    "model": "gpt-4",
                    "temperature": 0.7,
                    "latency_ms": 400,
                    "token_usage": {
                        "prompt_tokens": 45,
                        "completion_tokens": 60
                    },
                    "output": "Quantum entanglement is like having two dice that always show the same number..."
                }
            ],
            "final_output": "Quantum entanglement means two particles behave as one, no matter the distance.",
            "metrics": {
                "faithfulness": 0.92,
                "relevance": 0.95,
                "cost_usd": 0.0038
            }
        },
        {
            "trace_id": "trace_003",
            "user_query": "Translate 'Hello World' into French, Spanish, and Italian.",
            "metadata": {
                "user_id": "u789",
                "region": "APAC",
                "timestamp": "2025-09-24T20:18:00Z"
            },
            "steps": [
                {
                    "name": "llm_generation",
                    "model": "gpt-4",
                    "temperature": 0.0,
                    "latency_ms": 200,
                    "token_usage": {
                        "prompt_tokens": 30,
                        "completion_tokens": 15
                    },
                    "output": {
                        "fr": "Bonjour le monde",
                        "es": "Hola mundo",
                        "it": "Ciao mondo"
                    }
                }
            ],
            "final_output": {
                "fr": "Bonjour le monde",
                "es": "Hola mundo",
                "it": "Ciao mondo"
            },
            "metrics": {
                "faithfulness": 1.0,
                "relevance": 1.0,
                "cost_usd": 0.0012
            }
        }
    ]
}

Top-level Python type: dict

## 2) Map the structure generically

In [58]:
print("\n--- High-level structure exploration ---")
explore(data, max_items=6)

print("\n--- Candidate list-of-dicts (potential tables) ---")
candidates = find_list_of_dicts(data)
for c in sorted(set(candidates)):
    print("  ", c)

--- High-level structure exploration ---
root: dict with 3 keys
  root.project: str -> sample: LLM Evaluation Exercise
  root.version: str -> sample: 1.0
  root.traces: list with 3 items
    root.traces[0]: dict with 6 keys
      root.traces[0].trace_id: str -> sample: trace_001
      root.traces[0].user_query: str -> sample: Who won the 2018 World Cup?
      root.traces[0].metadata: dict with 3 keys
        root.traces[0].metadata.user_id: str -> sample: u123
        root.traces[0].metadata.region: str -> sample: EU
        root.traces[0].metadata.timestamp: str -> sample: 2025-09-24T20:15:00Z
      root.traces[0].steps: list with 2 items
        root.traces[0].steps[0]: dict with 3 keys
          root.traces[0].steps[0].name: str -> sample: retrieval
          root.traces[0].steps[0].latency_ms: int -> sample: 150
          root.traces[0].steps[0].output_docs: list with 2 items
            root.traces[0].steps[0].output_docs[0]: dict with 3 keys
              root.traces[0].steps[0].output_docs[0].id: str -> sample: doc1
              root.traces[0].steps[0].output_docs[0].title: str -> sample: 2018 FIFA Final
              root.traces[0].steps[0].output_docs[0].content: str -> sample: France defeated Croatia 4-2.
      root.traces[0].final_output: str -> sample: France (2018 FIFA World Cup winner)
      root.traces[0].metrics: dict with 3 keys
        root.traces[0].metrics.faithfulness: float -> sample: 1.0
        root.traces[0].metrics.relevance: float -> sample: 0.97
        root.traces[0].metrics.cost_usd: float -> sample: 0.0025

--- Candidate list-of-dicts (potential tables) ---
   root.traces
   root.traces[0].steps
   root.traces[0].steps[0].output_docs

## 3) Build a first table dynamically, based on what you find
At this point, you have a first usable table (df0). It may still contain:

	â€¢	dict-like columns (flatten them),
	â€¢	list-of-dicts columns (explode + normalize),
	â€¢	list of scalars (explode if needed),
	â€¢	or mixed types.

In [59]:
def build_base_table(data, sep="."):
    # Case 1: top-level list
    if isinstance(data, list):
        if data and isinstance(data[0], dict):
            return pd.json_normalize(data, sep=sep), {"record_path": ["<top-level list>"], "meta": []}
        else:
            return pd.DataFrame({"value": data}), {"record_path": None, "meta": []}

    # Case 2: top-level dict
    if isinstance(data, dict):
        # collect top-level lists
        top_lists = {k: v for k, v in data.items() if isinstance(v, list)}
        # keep only list-of-dicts
        lod_keys = [k for k, v in top_lists.items() if v and isinstance(v[0], dict)]
        if lod_keys:
            # choose the largest list-of-dicts; it's usually the records
            chosen = max(lod_keys, key=lambda k: len(data[k]))
            # meta: top-level non-list fields; safe to include
            meta = [k for k in data.keys() if k != chosen and not isinstance(data[k], list)]
            df = pd.json_normalize(
                data,
                record_path=[chosen],
                meta=meta,
                sep=sep,
                errors="ignore"   # tolerates missing meta keys
            )
            return df, {"record_path": [chosen], "meta": meta}
        # No top-level list-of-dicts â†’ just flatten the dict
        return pd.json_normalize(data, sep=sep), {"record_path": None, "meta": []}

    # Case 3: anything else (scalar etc.)
    return pd.DataFrame({"value": [data]}), {"record_path": None, "meta": []}

df0, base_info = build_base_table(data, sep=".")
peek(df0, "Base table (safe)")
print("Base info:", base_info)

===== Base table (safe) =====
shape: (3, 15)
columns: ['trace_id', 'user_query', 'steps', 'final_output', 'metadata.user_id', 'metadata.region', 'metadata.timestamp', 'metrics.faithfulness', 'metrics.relevance', 'metrics.cost_usd', 'final_output.fr', 'final_output.es', 'final_output.it', 'project', 'version']

head:
     trace_id                                         user_query  \
0  trace_001                        Who won the 2018 World Cup?
1  trace_002               Explain quantum entanglement simply.
2  trace_003  Translate 'Hello World' into French, Spanish, ...

                                               steps  \
0  [{'name': 'retrieval', 'latency_ms': 150, 'out...
1  [{'name': 'prompt_construction', 'latency_ms':...
2  [{'name': 'llm_generation', 'model': 'gpt-4', ...

                                        final_output metadata.user_id  \
0                France (2018 FIFA World Cup winner)             u123
1  Quantum entanglement means two particles behav...             u456
2                                                NaN             u789

  metadata.region    metadata.timestamp  metrics.faithfulness  \
0              EU  2025-09-24T20:15:00Z                  1.00
1              US  2025-09-24T20:16:00Z                  0.92
2            APAC  2025-09-24T20:18:00Z                  1.00

   metrics.relevance  metrics.cost_usd   final_output.fr final_output.es  \
0               0.97            0.0025               NaN             NaN
1               0.95            0.0038               NaN             NaN
2               1.00            0.0012  Bonjour le monde      Hola mundo

  final_output.it                  project version
0             NaN  LLM Evaluation Exercise     1.0
1             NaN  LLM Evaluation Exercise     1.0
2      Ciao mondo  LLM Evaluation Exercise     1.0
Base info: {'record_path': ['traces'], 'meta': ['project', 'version']}

## 4) Inspect which columns still hold nested data

In [60]:
def type_of(x): return type(x).__name__
def series_type_counts(s): return s.apply(type_of).value_counts(dropna=False)

print("\nColumns containing nested objects/lists (first pass):")
for col in df0.columns:
    if df0[col].dtype == "object":
        counts = series_type_counts(df0[col])
        if any(t in counts for t in ["dict", "list"]) or len(counts) > 1:
            print(f"- {col}: {counts.to_dict()}")

Columns containing nested objects/lists (first pass):
- steps: {'list': 3}
- final_output: {'str': 2, 'float': 1}
- final_output.fr: {'float': 2, 'str': 1}
- final_output.es: {'float': 2, 'str': 1}
- final_output.it: {'float': 2, 'str': 1}

## 5) Flatten any dict columns (generic & repeatable)

In [61]:
def flatten_dict_column(df, col, sep="."):
    """Expand dicts in column `col` into new columns; keeps non-dicts as-is."""
    mask = df[col].apply(lambda x: isinstance(x, dict))
    if not mask.any():
        return df
    expanded = pd.json_normalize(df.loc[mask, col], sep=sep)
    expanded.index = df.index[mask]
    out = df.drop(columns=[col]).join(expanded.add_prefix(f"{col}{sep}"))
    return out

# Example: flatten ALL dict-like columns in one go (run twice if needed)
df1 = df0.copy()
dict_cols = [c for c in df1.columns if df1[c].apply(lambda x: isinstance(x, dict)).any()]
for c in dict_cols:
    df1 = flatten_dict_column(df1, c, sep=".")
peek(df1, "After flattening dict-like columns (if any)")

===== After flattening dict-like columns (if any) =====
shape: (3, 15)
columns: ['trace_id', 'user_query', 'steps', 'final_output', 'metadata.user_id', 'metadata.region', 'metadata.timestamp', 'metrics.faithfulness', 'metrics.relevance', 'metrics.cost_usd', 'final_output.fr', 'final_output.es', 'final_output.it', 'project', 'version']

head:
     trace_id                                         user_query  \
0  trace_001                        Who won the 2018 World Cup?
1  trace_002               Explain quantum entanglement simply.
2  trace_003  Translate 'Hello World' into French, Spanish, ...

                                               steps  \
0  [{'name': 'retrieval', 'latency_ms': 150, 'out...
1  [{'name': 'prompt_construction', 'latency_ms':...
2  [{'name': 'llm_generation', 'model': 'gpt-4', ...

                                        final_output metadata.user_id  \
0                France (2018 FIFA World Cup winner)             u123
1  Quantum entanglement means two particles behav...             u456
2                                                NaN             u789

  metadata.region    metadata.timestamp  metrics.faithfulness  \
0              EU  2025-09-24T20:15:00Z                  1.00
1              US  2025-09-24T20:16:00Z                  0.92
2            APAC  2025-09-24T20:18:00Z                  1.00

   metrics.relevance  metrics.cost_usd   final_output.fr final_output.es  \
0               0.97            0.0025               NaN             NaN
1               0.95            0.0038               NaN             NaN
2               1.00            0.0012  Bonjour le monde      Hola mundo

  final_output.it                  project version
0             NaN  LLM Evaluation Exercise     1.0
1             NaN  LLM Evaluation Exercise     1.0
2      Ciao mondo  LLM Evaluation Exercise     1.0

## 6) Explode any list-of-dicts columns (e.g., steps) safely

In [62]:
def explode_list_of_dicts(df, col, sep="."):
    """Explode list-of-dicts in `col` into long format and normalize."""
    if col not in df.columns:
        raise KeyError(f"Column '{col}' not found.")
    out = df.copy()
    # coerce to list
    out[col] = out[col].apply(lambda x: [] if x is None else ([x] if isinstance(x, dict) else x))
    # explode
    out = out.explode(col).dropna(subset=[col]).reset_index(drop=True)
    # normalize dict rows
    mask = out[col].apply(lambda x: isinstance(x, dict))
    if mask.any():
        norm = pd.json_normalize(out.loc[mask, col], sep=sep)
        norm.index = out.index[mask]
        out = out.drop(columns=[col]).join(norm)   # join aligned by index
    else:
        # list of scalars â†’ keep as a value column
        out = out.rename(columns={col: f"{col}_value"})
    return out

# Identify list-of-dicts columns
lod_cols = [
    c for c in df1.columns
    if df1[c].apply(lambda x: isinstance(x, list) and len(x) > 0 and isinstance(x[0], dict) if isinstance(x, list) else False).any()
]
print("List-of-dicts columns:", lod_cols)

# Explode them one by one (start with the most important, e.g., 'steps')
df2 = df1.copy()
for c in lod_cols:
    df2 = explode_list_of_dicts(df2, c, sep=".")
peek(df2, "After exploding list-of-dicts columns")

List-of-dicts columns: ['steps']

===== After exploding list-of-dicts columns =====
shape: (5, 26)
columns: ['trace_id', 'user_query', 'final_output', 'metadata.user_id', 'metadata.region', 'metadata.timestamp', 'metrics.faithfulness', 'metrics.relevance', 'metrics.cost_usd', 'final_output.fr', 'final_output.es', 'final_output.it', 'project', 'version', 'name', 'latency_ms', 'output_docs', 'model', 'temperature', 'output', 'token_usage.prompt_tokens', 'token_usage.completion_tokens', 'input', 'output.fr', 'output.es', 'output.it']

head:
     trace_id                                         user_query  \
0  trace_001                        Who won the 2018 World Cup?
1  trace_001                        Who won the 2018 World Cup?
2  trace_002               Explain quantum entanglement simply.
3  trace_002               Explain quantum entanglement simply.
4  trace_003  Translate 'Hello World' into French, Spanish, ...

                                        final_output metadata.user_id  \
0                France (2018 FIFA World Cup winner)             u123
1                France (2018 FIFA World Cup winner)             u123
2  Quantum entanglement means two particles behav...             u456
3  Quantum entanglement means two particles behav...             u456
4                                                NaN             u789

  metadata.region    metadata.timestamp  metrics.faithfulness  \
0              EU  2025-09-24T20:15:00Z                  1.00
1              EU  2025-09-24T20:15:00Z                  1.00
2              US  2025-09-24T20:16:00Z                  0.92
3              US  2025-09-24T20:16:00Z                  0.92
4            APAC  2025-09-24T20:18:00Z                  1.00

   metrics.relevance  metrics.cost_usd   final_output.fr  ...  \
0               0.97            0.0025               NaN  ...
1               0.97            0.0025               NaN  ...
2               0.95            0.0038               NaN  ...
3               0.95            0.0038               NaN  ...
4               1.00            0.0012  Bonjour le monde  ...

                                         output_docs  model temperature  \
0  [{'id': 'doc1', 'title': '2018 FIFA Final', 'c...    NaN         NaN
1                                                NaN  gpt-4         0.2
2                                                NaN    NaN         NaN
3                                                NaN  gpt-4         0.7
4                                                NaN  gpt-4         0.0

                                              output  \
0                                                NaN
1  France won the 2018 FIFA World Cup, beating Cr...
2   Explain in simple words: quantum entanglement...
3  Quantum entanglement is like having two dice t...
4                                                NaN

  token_usage.prompt_tokens  token_usage.completion_tokens  \
0                       NaN                            NaN
1                      60.0                           25.0
2                       NaN                            NaN
3                      45.0                           60.0
4                      30.0                           15.0

                                  input         output.fr   output.es  \
0                                   NaN               NaN         NaN
1                                   NaN               NaN         NaN
2  Explain quantum entanglement simply.               NaN         NaN
3                                   NaN               NaN         NaN
4                                   NaN  Bonjour le monde  Hola mundo

    output.it
0         NaN
1         NaN
2         NaN
3         NaN
4  Ciao mondo

[5 rows x 26 columns]

In [63]:
df2.head()

,trace_id,user_query,final_output,metadata.user_id,metadata.region,metadata.timestamp,metrics.faithfulness,metrics.relevance,metrics.cost_usd,final_output.fr,...,output_docs,model,temperature,output,token_usage.prompt_tokens,token_usage.completion_tokens,input,output.fr,output.es,output.it
0,trace_001,Who won the 2018 World Cup?,France (2018 FIFA World Cup winner),u123,EU,2025-09-24T20:15:00Z,1.00,0.97,0.0025,NaN,...,"[{'id': 'doc1', 'title': '2018 FIFA Final', 'c...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,trace_001,Who won the 2018 World Cup?,France (2018 FIFA World Cup winner),u123,EU,2025-09-24T20:15:00Z,1.00,0.97,0.0025,NaN,...,NaN,gpt-4,0.2,"France won the 2018 FIFA World Cup, beating Cr...",60.0,25.0,NaN,NaN,NaN,NaN
2,trace_002,Explain quantum entanglement simply.,Quantum entanglement means two particles behav...,u456,US,2025-09-24T20:16:00Z,0.92,0.95,0.0038,NaN,...,NaN,NaN,NaN,Explain in simple words: quantum entanglement...,NaN,NaN,Explain quantum entanglement simply.,NaN,NaN,NaN
3,trace_002,Explain quantum entanglement simply.,Quantum entanglement means two particles behav...,u456,US,2025-09-24T20:16:00Z,0.92,0.95,0.0038,NaN,...,NaN,gpt-4,0.7,Quantum entanglement is like having two dice t...,45.0,60.0,NaN,NaN,NaN,NaN
4,trace_003,"Translate 'Hello World' into French, Spanish, ...",NaN,u789,APAC,2025-09-24T20:18:00Z,1.00,1.00,0.0012,Bonjour le monde,...,NaN,gpt-4,0.0,NaN,30.0,15.0,NaN,Bonjour le monde,Hola mundo,Ciao mondo

In [64]:
df2.to_csv('json_flattened.csv')

## 7) (Optional) Iterate until flat enough + light cleanups

In [43]:
# Find remaining nested columns and repeat 5/6 as needed
print("\nRemaining nested candidates:")
for col in df2.columns:
    if df2[col].dtype == "object":
        counts = series_type_counts(df2[col])
        if any(t in counts for t in ["dict", "list"]) or len(counts) > 1:
            print(f"- {col}: {counts.to_dict()}")

# Example numeric + datetime coercions
maybe_numeric = [c for c in df2.columns if df2[c].dtype == "object"]
for c in maybe_numeric:
    # try numeric; if it fails it stays object
    df2[c] = pd.to_numeric(df2[c], errors="ignore")

# ISO-ish timestamps
for c in df2.columns:
    if df2[c].dtype == "object" and df2[c].astype(str).str.contains(r"T\d{2}:\d{2}", na=False).any():
        try:
            df2[c] = pd.to_datetime(df2[c], errors="ignore")
        except Exception:
            pass

peek(df2, "Final working table (flat enough for analysis)", show_dtypes=True)
# df2.to_csv("final_flat_table.csv", index=False)

Remaining nested candidates:
- final_output: {'str': 4, 'float': 1}
- final_output.fr: {'float': 4, 'str': 1}
- final_output.es: {'float': 4, 'str': 1}
- final_output.it: {'float': 4, 'str': 1}
- output_docs: {'float': 4, 'list': 1}
- model: {'str': 3, 'float': 2}
- output: {'str': 3, 'float': 2}
- input: {'float': 4, 'str': 1}
- output.fr: {'float': 4, 'str': 1}
- output.es: {'float': 4, 'str': 1}
- output.it: {'float': 4, 'str': 1}

===== Final working table (flat enough for analysis) =====
shape: (5, 26)
columns: ['trace_id', 'user_query', 'final_output', 'metadata.user_id', 'metadata.region', 'metadata.timestamp', 'metrics.faithfulness', 'metrics.relevance', 'metrics.cost_usd', 'final_output.fr', 'final_output.es', 'final_output.it', 'project', 'version', 'name', 'latency_ms', 'output_docs', 'model', 'temperature', 'output', 'token_usage.prompt_tokens', 'token_usage.completion_tokens', 'input', 'output.fr', 'output.es', 'output.it']

dtypes:
 trace_id                                      object
user_query                                    object
final_output                                  object
metadata.user_id                              object
metadata.region                               object
metadata.timestamp               datetime64[ns, UTC]
metrics.faithfulness                         float64
metrics.relevance                            float64
metrics.cost_usd                             float64
final_output.fr                               object
final_output.es                               object
final_output.it                               object
project                                       object
version                                      float64
name                                          object
latency_ms                                     int64
output_docs                                   object
model                                         object
temperature                                  float64
output                                        object
token_usage.prompt_tokens                    float64
token_usage.completion_tokens                float64
input                                         object
output.fr                                     object
output.es                                     object
output.it                                     object
dtype: object

head:
     trace_id                                         user_query  \
0  trace_001                        Who won the 2018 World Cup?
1  trace_001                        Who won the 2018 World Cup?
2  trace_002               Explain quantum entanglement simply.
3  trace_002               Explain quantum entanglement simply.
4  trace_003  Translate 'Hello World' into French, Spanish, ...

                                        final_output metadata.user_id  \
0                France (2018 FIFA World Cup winner)             u123
1                France (2018 FIFA World Cup winner)             u123
2  Quantum entanglement means two particles behav...             u456
3  Quantum entanglement means two particles behav...             u456
4                                                NaN             u789

  metadata.region        metadata.timestamp  metrics.faithfulness  \
0              EU 2025-09-24 20:15:00+00:00                  1.00
1              EU 2025-09-24 20:15:00+00:00                  1.00
2              US 2025-09-24 20:16:00+00:00                  0.92
3              US 2025-09-24 20:16:00+00:00                  0.92
4            APAC 2025-09-24 20:18:00+00:00                  1.00

   metrics.relevance  metrics.cost_usd   final_output.fr  ...  \
0               0.97            0.0025               NaN  ...
1               0.97            0.0025               NaN  ...
2               0.95            0.0038               NaN  ...
3               0.95            0.0038               NaN  ...
4               1.00            0.0012  Bonjour le monde  ...

                                         output_docs  model temperature  \
0  [{'id': 'doc1', 'title': '2018 FIFA Final', 'c...    NaN         NaN
1                                                NaN  gpt-4         0.2
2                                                NaN    NaN         NaN
3                                                NaN  gpt-4         0.7
4                                                NaN  gpt-4         0.0

                                              output  \
0                                                NaN
1  France won the 2018 FIFA World Cup, beating Cr...
2   Explain in simple words: quantum entanglement...
3  Quantum entanglement is like having two dice t...
4                                                NaN

  token_usage.prompt_tokens  token_usage.completion_tokens  \
0                       NaN                            NaN
1                      60.0                           25.0
2                       NaN                            NaN
3                      45.0                           60.0
4                      30.0                           15.0

                                  input         output.fr   output.es  \
0                                   NaN               NaN         NaN
1                                   NaN               NaN         NaN
2  Explain quantum entanglement simply.               NaN         NaN
3                                   NaN               NaN         NaN
4                                   NaN  Bonjour le monde  Hola mundo

    output.it
0         NaN
1         NaN
2         NaN
3         NaN
4  Ciao mondo

[5 rows x 26 columns]

/var/folders/vp/05g602bs69j6y91p_fdnv62r0000gn/T/ipykernel_35668/2043900189.py:13: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df2[c] = pd.to_numeric(df2[c], errors="ignore")
/var/folders/vp/05g602bs69j6y91p_fdnv62r0000gn/T/ipykernel_35668/2043900189.py:19: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  df2[c] = pd.to_datetime(df2[c], errors="ignore")